html { 
    background-color: white;
    font-size: 100%;
    font-family: 'Barlow', sans-serif;
}

body {
    width: 900px;
    margin: auto;
}

/*header*/
.top-bar {
    height: 60px;
    border-bottom: 3px solid green;
}

.page-title {
    position: fixed;
    top: 0;
    width: 900px;
    height: 40px;
    background-color: white;
    color: black;
    padding: 10px;
    margin: 0;
    text-align: center;
    font-size: 32px;
    font-size: 2rem;
}

.image-text {
    text-align: center;
    padding: 0;
}

.my-image {
   text-align: center;
}

/*flexbox*/
.box-flex {
    background-color:white;
    margin: auto;
    height: 400px;
    display: flex;
    flex-flow: row wrap; /*flex-direction flex-wrap*/
    align-items: center;
    justify-content:center;
    align-content: center;
    flex-direction: row;
    padding: 20px;
}

.box {
    width: 400px;
    height: 400px;
    background-color: white;
    border: 2px solid red;
  }

.box div {
    width: 100px;
    text-align: center;
    background-color:black;
  }