html { 
    background-color: white;
    font-size: 100%;
    font-family: 'Barlow', sans-serif;
}

body {
    width: 900px;
    margin: auto;
}

/*header*/
.top-bar {
    height: 60px;
    border-bottom: 3px solid green;
}

.page-title {
    position: fixed;
    top: 0;
    width: 900px;
    height: 40px;
    background-color: white;
    color: black;
    padding: 10px;
    margin: 0;
    text-align: center;
    font-size: 32px;
    font-size: 2rem;
}

.image-text {
    text-align: center;
    padding: 0;
}

.my-image {
   text-align: center;
}

/*flexbox*/
.box-flex {
    background-color:white;
    margin: 0;
    height: 400px;
    width: 900px;
    display: flex;
    flex-flow: row wrap; /*flex-direction flex-wrap*/
    align-items: center;
    justify-content:center;
    align-content: center;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
}

.box-1 {
    width: 447px;
    height: 400px;
    background-color: white;
    border-top: 2px solid maroon;
    border-right: 1px solid maroon;
    border-left: 2px solid maroon;
    border-bottom: 2px solid maroon;
  }

.box-2 {
    width: 447px;
    height: 400px;
    background-color: white;
    border-top: 2px solid maroon;
    border-right: 2px solid maroon;
    border-left: 1px solid maroon;
    border-bottom: 2px solid maroon;
  }

.box-1 div {
    width: 100px;
    text-align: center;
    background-color:black;
  }

.box-2 div {
    width: 100px;
    text-align: center;
    background-color:black;
  }

.box-title {
    text-align: center;
    margin: 5px;
}

.box-text li:not(.list), .box-text li:not(.list-2) {
    text-align: left;
    font-weight: bold;
    font-style: italic;
    list-style-type: none;
    text-decoration: underline;
}

.box-text p {
    text-align: left;
}

.list {
    text-align: left;
    margin: 16px;
}

