html { 
    background-color: white;
    font-size: 100%;
    font-family: 'Barlow', sans-serif;
}

body {
    width: 900px;
    margin: auto;
}

/*header*/
.top-bar {
    height: 60px;
    border-bottom: 3px solid green;
}

.page-title {
    position: fixed;
    top: 0;
    width: 900px;
    height: 40px;
    background-color: white;
    color: black;
    padding: 10px 0;
    margin: 0;
    text-align: center;
    font-size: 32px;
    font-size: 2rem;
}

.image-text {
    text-align: center;
    padding: 0;
}

.my-image {
   text-align: center;
}

/*flexbox*/
.box-flex {
    background-color:white;
    margin: 0;
    height: 500px;
    width: 900px;
    display: flex; 
    flex-flow: row wrap; /*flex-direction flex-wrap*/
    align-items: center;
    justify-content:center;
    align-content: center;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
}

.box-1 {
    width: 447px;
    height: 400px;
    background-color: white;
    border-top: 2px solid maroon;
    border-right: 1px solid maroon;
    border-left: 2px solid maroon;
    border-bottom: 2px solid maroon;
  }

.box-2 {
    width: 447px;
    height: 400px;
    background-color: white;
    border-top: 2px solid maroon;
    border-right: 2px solid maroon;
    border-left: 1px solid maroon;
    border-bottom: 2px solid maroon;
  }

.box-1 div {
    width: 100px;
    text-align: center;
    background-color:black;
  }

.box-title {
    text-align: center;
    margin: 5px;
}

.about-me li:not(.list) {
    text-align: left;
    font-weight: bold;
    font-style: italic;
    list-style-type: none;
    text-decoration: underline;
}

.about-me p {
    text-align: left;
}

.list {
    text-align: left;
    margin: 16px;
}
.contact-me {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 350px;
    width: 400px;   
    text-align: left;
    margin-bottom: 50px;
    margin-right: 35px;
    margin-left: 25px;
    margin-top: 16px;
    flex-flow: column wrap;
    border: 1px solid black;
    border-radius: 20px;
}

.name {
    width: 300px;
    height: 25px;
    background-color: white;
    border: 1px solid black;
    align-items: left;
    justify-content: left;
    align-content: left;
    text-align: left;
}
.email {
    width: 300px;
    height: 25px;
    background-color: white;
    border: 1px solid black;
    align-items: left;
    justify-content: left;
    align-content: left;
    text-align: left;
}

.message {
    width: 300px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    align-items: left;
    justify-content: left;
    align-content: left;
    text-align: left;
}

.send-message {
    width: 100px;
    height: 20px;
    background-color: white;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 10px;
    font-size: 10px;
}

.contact-me p {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 0;
}

@media screen and (max-width: 600px){
    .page-title {
        position: fixed;
        text-align: center;
        font-size: 20px;
        margin: 0;
    }
    .box-flex {
        max-width: 600px;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        flex-flow: column wrap;
        display: block;
        margin: auto;
    }
    .box-1 {
        border-top: 2px solid maroon;
        border-right: 2px solid maroon;
        border-left: 2px solid maroon;
        border-bottom: 1px solid maroon;
        margin: auto;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    .box-2 {
        border-top: 1px solid maroon;
        border-right: 2px solid maroon;
        border-left: 2px solid maroon;
        border-bottom: 2px solid maroon;
        margin: auto;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
}
